.msg{
    height: 40px;
    width: 250px;
    position: absolute;
    right: 0;
    top: 10%;
    background-color: rgb(238, 226, 226);
    font-size: 18px;
    color: white;
    padding: 5px;
    border-radius: 5px;
}